In [51]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 用range快速生成list

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

### 一到十 每隔兩個取

In [3]:
list("ABCDEF")

['A', 'B', 'C', 'D', 'E', 'F']

In [8]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for 迴圈

In [9]:
for i in range(1,6):         #rangr(1,6)值會在1-5
    print(i)

1
2
3
4
5

In [14]:
s=0                           # 把s=0  ,i=1,2,3,...100, 利用迴圈s=s+i
for i in range(1,101):
   s=s+i
print(s)

5050

# list append

In [13]:
prices=[1024,399,20000]       #假設在德國買東西 用歐元匯率=34.1415677

In [14]:
c=34.1415677

In [15]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [22]:
L=[]

In [23]:
L

[]

In [24]:
L.append(87)

In [25]:
L

[87]

In [26]:
L.append("x")

In [27]:
L

[87, 'x']

### 字串分割

In [5]:
spam=input("輸入你要買的東西的價格:")

輸入你要買的東西的價格:1024,399,20000,600

In [6]:
spam

'1024,399,20000,600'

In [7]:
spam.split(',')     # 字串分割

['1024', '399', '20000', '600']

In [8]:
data=spam.split(',')

In [9]:
data

['1024', '399', '20000', '600']

In [16]:
for p in data:
    p=float(p)           # 利用float浮點數 將p由字串轉換成數字
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

#### 做list把所有價格都換過來↓

In [21]:
p_list=[]
spam=input("輸入你要買的東西的價格:")
data=spam.split(",")

for p in data:
    p=float(p)
    p_list.append(p*c)
    print("價格",p*c,"台幣")

輸入你要買的東西的價格:399,200,9487,249
價格 13622.485512300002 台幣
價格 6828.313540000001 台幣
價格 323901.0527699 台幣
價格 8501.250357300001 台幣

In [22]:
p_list

[13622.485512300002, 6828.313540000001, 323901.0527699, 8501.250357300001]

In [23]:
spam="399 199 1024 250"

In [25]:
spam.split(" ")

['399', '199', '1024', '250']

In [26]:
spam="   399   199   1024   9487"

In [27]:
spam.split(" ")         #慘劇 一個空白隔一次

['', '', '', '399', '', '', '199', '', '', '1024', '', '', '9487']

In [28]:
spam.split()            # 拯救慘劇

['399', '199', '1024', '9487']

# 不再寫for迴圈 一次做完動作↓

In [29]:
def exchange(p):
    p=float(p)     
    return p*c

In [30]:
exchange("399")

13622.485512300002

# map 

map(f,L)
把f這個函數作用到L list中每一個元素

以上述為例

1.把P改成float

2.return(把東西*c倍)

In [32]:
L="333     1024  488      20000".split()

In [33]:
L

['333', '1024', '488', '20000']

In [34]:
list(map(exchange,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

### 緊急用的函數  lambda

In [37]:
def f(x):
    return x**2

In [38]:
f(2)

4

In [39]:
g=lambda x:x**2   # g:x→x**2

In [40]:
g(3)

9

In [41]:
L

['333', '1024', '488', '20000']

In [43]:
list(map(lambda p:float(p)*c,L))

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

In [46]:
# 題目: egg=[9,4,8,7] →   x → 2x+1
egg=[9,4,8,7]

list(map(lambda E:float(E)*2+1,egg))

[19.0, 9.0, 17.0, 15.0]

In [53]:
grades=[47,56,60,75]

In [54]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.556546004010443,
 74.833147735478832,
 77.459666924148337,
 86.602540378443877]

# list comprehension

In [56]:
L

['333', '1024', '488', '20000']

In [57]:
[float(p)*c for p in L]

[11369.142044100001, 34960.9653248, 16661.0850376, 682831.354]

# 幫字體上色&效果

print("\033[顯示方式;前景色;背景色m內容\033[效果m")

In [60]:
print("\033[3mHellow,world!\033[32m")
print("Hellow,world!")

Hellow,world!
Hellow,world!

### 合併list

In [61]:
L

['333', '1024', '488', '20000']

In [62]:
s=" "
for i in L:
    s=s+i+","

In [63]:
s

' 333,1024,488,20000,'

In [64]:
# 法(一)利用rstrip(把最右邊的東西去掉)把最後一個逗點切掉

s.rstrip(",")

' 333,1024,488,20000'

In [68]:
s    #沒改到原來的s

' 333,1024,488,20000,'

In [75]:
s[0]

' '

In [72]:
s[:-1]

' 333,1024,488,20000'

In [73]:
L

['333', '1024', '488', '20000']

In [74]:
",".join(L)    #法(二)

'333,1024,488,20000'

### 物件中的method

In [76]:
egg=[12,87,55,77,32]

In [78]:
egg.sort()       #按兩次tab鍵找功能   sort用來由小到大排序

In [79]:
egg

[12, 32, 55, 77, 87]

In [80]:
ham="今天天氣很好"

In [81]:
ham[3]

'氣'

In [83]:
ham[::2]         #::每隔幾個取一個

'今天很'

In [84]:
ham[::-1]          #到過來

'好很氣天天今'

In [85]:
from ipywidgets import interact

In [88]:
def move(n=1):               #n=1的意思將東西的起始位置定在1
    print(" "*n+"(,,Ծ 3 Ծ,,)")

In [89]:
move()

 (,,Ծ 3 Ծ,,)

In [90]:
interact(move,n=(1,40))

A Jupyter Widget

In [107]:
def move(n=1):               
    print(" "*n+" ʕ•͡ᴥ•ʔ")
    print(" "*(40-n)+"✧(•̀ω•́ )")       #設(40-n)讓兩物體從兩端點靠近彼此

In [108]:
interact(move,n=(1,40))

A Jupyter Widget